<%- include('includes/header.ejs') %>
<body>
  <div class="card" style="width: 18rem">
    <img
      src="https://www.spinny.com/blog/wp-content/uploads/2024/09/videoframe_0-1160x653.webp"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>
<%- include('includes/footer.ejs') %>
